-e ../../../opentelemetry-exporter-gcp-monitoring
-e ../../../opentelemetry-exporter-gcp-trace
-e ../../../opentelemetry-propagator-gcp
-e ../../../opentelemetry-resourcedetector-gcp
flask
opentelemetry-api
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-sdk
requests
