-c dev-constraints.txt
Sphinx
sphinx-autodoc-typehints
opentelemetry-api
opentelemetry-sdk
-e ./opentelemetry-exporter-gcp-trace
-e ./opentelemetry-exporter-gcp-monitoring
-e ./opentelemetry-propagator-gcp
-e ./opentelemetry-resourcedetector-gcp
